<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="header">
    <img src="../assets/Images/‏‏logo.PNG">
  
  </div>
    <form class="formlog">
        <mat-form-field dir="rtl">
          <input matInput type="email" 
          [(ngModel)]="loginData.UserName"
          name="UserName" 
          placeholder="שם משתמש"
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          />
          <img class="mat-form-img" src="../assets/Images/contacts-social-network.png">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              שם המשתמש שהזנת שגוי
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                <strong>שדה חובה</strong>
              </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
           type="password"
            name="Password" 
            [(ngModel)]="loginData.Password" 
            placeholder="סיסמא"
            [formControl]="passwordFormControl"
            />
            <img class="mat-form-img" src="../assets/Images/lock.png">

          <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
             אורך הסיסמא 6 תווים לפחות
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                <strong>שדה חובה</strong>
              </mat-error>
        </mat-form-field>
        <button class="login-btn" 
        (click)="login()"
         mat-raised-button 
         color="primary"
         [disabled]="countErrors >= 3"
         >
         התחבר</button>
        <mat-checkbox class="login-checkbox" name="RememberMe" [(ngModel)]="loginData.RememberMe">זכור אותי ממחשב זה</mat-checkbox>

        <mat-error *ngIf="isUserValid === false">
            <strong>שם המשתש ו/או הסיסמה שגויים</strong>
          </mat-error>
          <strong style="color:rgb(91, 209, 36);" *ngIf="isUserValid === true">התחבר בהצלחה</strong>
         
          <mat-error *ngIf="countErrors >= 3">
            <strong>משתמש חסום</strong>
          </mat-error>
      </form>
</div>
<div class="contact-us">
    <div>?אין לך חשבון משתמש</div>
    <div class="text-bold">
      צור איתנו קשר
    <br>
    1-700-11-22-33
    </div>
</div>
<p>'כל הזכויות שמורות לג'אסט מאנאג	&copy;</p>